
<!-- saved from url=(0109)https://raw.github.com/rails/rails/master/railties/lib/rails/generators/erb/scaffold/templates/index.html.erb -->
<h1>Listing <%= plural_table_name %></h1>

<table class="table table-hover">
  <thead>
    <tr>
<% attributes.each do |attribute| -%>
      <th><%= attribute.human_name %></th>
<% end -%>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%% @<%= plural_table_name %>.each do |<%= singular_table_name %>| %>
    <tr>
<% attributes.each do |attribute| -%>
      <td><%%= <%= singular_table_name %>.<%= attribute.name %> %></td>
<% end -%>
<td><%%= link_to '<i class="icon-eye-open icon-white"></i> Ver'.html_safe, <%= singular_table_name %>, :class => "btn btn-primary" %>
<%%= link_to '<i class="icon-pencil icon-white"></i> Editar'.html_safe, edit_<%= singular_table_name %>_path(<%= singular_table_name %>), :class => "btn btn-inverse" %>
<%%= link_to '<i class="icon-remove icon-white"></i> Eliminar'.html_safe, <%= singular_table_name %>, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => "btn btn-danger" %></td>
    </tr>
    <%% end %>
  </tbody>
</table>

<br />

<%%= link_to '<i class="icon-plus icon-white"></i> Nuevo <%= human_name %>'.html_safe, new_<%= singular_table_name %>_path, :class => "btn btn-success" %>
